.customers-container {
  padding: 8px 16px;
  background-color: transparent;
  min-height: 100vh;
}

.customers-container-mobile {
  padding: 0;
  margin: 0;
  background-color: transparent;
  min-height: 100vh;
}

.actions-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.actions-spacer {
  flex: 1 1 auto;
}

table{
  background: transparent;
}
