.customers-table-header {
  height: 39px;
  /*background: #F0F0F0;*/
  border-radius: 5px !important;
}

.table-title-text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

.table-body-text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: #000000;

}

td {
  padding: 4px !important;
}

th {
  padding: 4px !important;
}

.my-table {
  padding: 16px 24px;
}
