.index-item {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

//::ng-deep {
//  .mat-list-item-content {
//    padding: 0 !important;
//  }
//}
